doctype html
head
  //
    - basic page needs
    ==================================================
  meta(charset='utf-8')
  title Submitted
  meta(name='description' content='')
  meta(name='author' content='')
  //
    mobile specific metas
    ==================================================
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  //
    CSS
    ==================================================
  link(rel='stylesheet' href='css/baseerr.css')
  link(rel='stylesheet' href='css/mainerr.css')
  link(rel='stylesheet' href='css/vendorerr.css')
  //
    script
    ==================================================
  script(src='js/modernizr.js')
  //
    favicons
    ==================================================
  link(rel='icon' type='image/png' href='favicon.png')
//
  main content
  ==================================================
main#main-404-content.main-content-particle-js
  .content-wrap
    .main-content
      .row
        .col-twelve
          h1.kern-this Successfully Submited Request
          p
            | Thanks! Your Form Has Been Submited,
            br
            | Go Ahead And Submited Next If Any :) 
            a(href='#') return to form
#preloader
  #loader
//
  Java Script
  ==================================================
script(src='js/jqueryerr.min.js')
script(src='js/pluginserr.js')
script(src='js/mainerr.js')
