body{
    background-image: url("../images/Cover_final.jpg");
    background-size: cover;     
    background-repeat: no-repeat;
}

.img-div{
    margin-top: 100px;
}

.sucess-font{
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}